/* 公共头部样式 */
.head{
    width: 100%;
    height: 77px;
    background-color: rgba(0,0,0,.45);
    position: fixed;
    z-index: 9;
}
.logo{
    float: left;
    width: 120px;
    height: 100%;
    background: url(../images/logo.png) no-repeat center;
    margin-left: 50px;
}
.nav{
    float: right;
}
.nav .item{
    float: left;
    color: #fff;
    margin-right: 36px;
    line-height: 77px;
    height: 100%;
}
.nav .lastm{
    margin-right: 49px;
}
.nav .line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #dd1717;
    margin-top: -16px;
    opacity: 0;
}
.nav .item:hover{
    color: #dd1717;
}
.nav .item:hover .line{
    opacity: 1;
}
.title{
    margin: 0 auto;
    width: 518px;
    text-align: center;
}
.ename{
    width:518px;
    background: url(../images/line.png) repeat-x center;
}
.ename>span{
    display: inline-block;
    padding: 0 15px;
    color: #dd1717;
    font: 24px/24px "微软雅黑";
    background-color: #000;
}
.title .cname{
    font: 16px/16px "微软雅黑";
    color:#8c8c8c;
    display: block;
    margin-top: 15px;
}
/* 联系我们样式 */
.contactUs{
    color: #8c8c8c;
    font-size: 14px;
    font-family: "微软雅黑";
    background-color: #000;
    padding-top: 176px;
    padding-bottom: 119px;
    position: relative;
}
.contactUs .icon{
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    padding: 18px 0;
    margin-left: 15%;
    /* text-align: center; */
}
.contactUs .icon p{ 
    font-size: 16px;
}
.contactUs .icon-list{
    margin-top: 10px;
}
.contactUs .icon-item{
    float: left;
    margin-right: 22px;
}
.contactUs .addr{
    width: 500px;
    border: 1px solid rgba(140,140,140,.1);
    border-top: none;
    border-bottom: none;
    /* width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content; */
    line-height: 36px;
    position: absolute;
    left:50%;
    margin-left:-250px;

}
.contactUs .addr p{
    margin: 0 113px;
}
.contactUs .tel{
    /* background-color: #cff; */
    line-height: 36px;
    margin-right: 15%;
}
/* 版权信息样式 */
.copyright {
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: rgba(255,255,255,.5);
    font-size:12px;
    font-family: "微软雅黑";
    background-color: #161616;
}